.nav {
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  z-index: 10;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.yellow {
  background-color: #cc9900;
}

.green {
  background-color: rgb(50, 219, 64)
}

.purple {
  background-color: rgb(148, 26, 148);
}

.blue {
  background-color: rgb(63, 63, 219);
}